<!DOCTYPE html>
<html ng-app ='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script  src="angular.min.js"> </script>
    <script src="app.js"> </script>


    <title>Narrow It Down Application</title>

  </head>
  <body>
<h2>Welcome to "Narrow It Down" application :)</h2>
    <div ng-controller= 'NarrowItDownController as menu'>

      <input type="text" ng-model="menu.searchTerm" placeholder="Search term ">
      <button ng-click="menu.clickButton()">Narrow it down for me</button>
      {{menu.msg}}{{menu.result}}
      <ol>
        <li ng-repeat=  "article in menu.founditems">
          {{article.name}} *{{article.short_name}}* :{{article.description}}
          <button ng-click="menu.removeItem()">Don't want this item</button>
        </li>
      </ol>


      </div>


  </body>
</html>
